#[DEFAULT]
#rpc_conn_pool_size = 30
#rpc_backend = rabbit

[gapi]
port=7000
host=0.0.0.0
topic=grenderer
rabbitmq_host={{ ansible_hostname }}
log_file={{ ansible_env.HOME}}/gapi.log
log_level=INFO
topic_exporter=gexporter
username=vagrant
password=vagrant
pkey=
key_filename=
prometheus_template=

[gexporter]
rabbitmq_port=5672
rabbitmq_host={{ ansible_hostname }}
rabbitmq_username=guest
#rabbitmq_password=guest
topic=gexporter
log_file={{ ansible_env.HOME}}/gexporter.log
log_level=INFO
scheduler_db_url=mysql://root:root@{{mysql_host}}/galaxia
nova_endpoint=http://{{ ansible_hostname }}:8774/v2
ceilometer_endpoint=http://{{ ansible_hostname }}:8777/v2
keystone_endpoint=http://{{ ansible_hostname }}:35357/v2.0
username=demo
password=ashish123
tenant_name=demo

[grenderer]
rabbitmq_port=5672
rabbitmq_host={{ ansible_hostname }}
rabbitmq_username=guest
#rabbitmq_password=guest
aggregator=prometheus
dashboard_handler=promdash
topic=grenderer
renderer_db_url=mysql://root:root@{{mysql_host}}/galaxia
log_file={{ ansible_env.HOME}}/grenderer.log
log_level=INFO

[db]
db_host={{ mysql_host }}
type=mysql
username=root
password=root

[catalogue]
node=node_uname_info
docker=container_last_seen
tomcat=catalina_threadpool_maxthreads{name=~"ajp"}
cassandra=java_lang_garbagecollector_lastgcinfo_memoryusagebeforegc_max{name="ParNew",key="Par Survivor Space",}